.prueba {
    width: 50px;
   height: 50px;
   background-color: #fff;
   animation-name: aparecer;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-duration: 2s;
   animation-delay: 10s;
}

.prueba:hover {
    width: 100px;
    background-image: linear-gradient(to right,white, grey);
    opacity: 1;
    color: red;
    border-radius: 15%;
    
 }
 
 