.prueba {
    width: 50px;
   height: 50px;
   background-color: #fff;
   animation-name: aparecer;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-duration: 2s;
   animation-delay: 10s;
}

.prueba:hover {
    width: 100px;
    background-image: linear-gradient(to right,white, grey);
    opacity: 1;
    color: red;
    border-radius: 15%; 
 }
 
 img{
    height: 80px; 
    animation-name: cambio;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 2s;
    position: relative;
    left: 300px;
 }

 @keyframes cambio {
     0%{ opacity: 0;}
     10%{
        transform: translate(100px);
     }
    40% { 
        transform: scale(3,2) ;
    }
    
    100% { opacity: 1;}
 }